* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.dogs {
  margin: 2.5rem;
  width: 50vw;
  height: 90vh;
  border: 3px solid black;
}

.select-dog {
  padding: 5rem;
  margin: 0 auto;
}

.select-dog select {
  margin-bottom: 2rem;
}

.select-dog button {
  margin-left: 30%;
}