* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/*-------- Header ---------*/
.cabecalho {
    position: fixed;
    opacity: 0.8;
    font-weight: 400;
    background-color: gray;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 3rem;
    width: 100vw;
    gap: 4rem;
    background-color: #E5E5E5B2;
}

.cabecalho a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.cabecalho a span {
    border-radius: 5px;
    background-color: #E74C3C;
    padding: 5px 29px;
    color: white;
}


/*---------------- HEADER ----------------*/
header {
    width: 100%;
    height: 571px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img/fundo_cabecalho.jpg');
}

.sobre {
    gap: 41px;
    display: flex;
    flex-direction: column;
}

.faixa-amarela {
    display: flex;
    margin-top: 183px;
    flex-direction: row-reverse;
    padding: 48px 120px 48px 0px;
    background-color: #ffd000ad;
}

.faixa-amarela h1 {
    font-size: 48px;
    font-weight: 400;
}

.bloco-amarelo {
    width: 367px;
    height: 138px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0px 115px 0px auto;
    background-color: #ffd000ad;
}

.bloco-amarelo h3 {
    text-align: end;
    font-size: 32px;
    font-weight: 400;
}


/*----------------- MAIN - Programação -----------------*/
main {
    gap: 50px;
    display: flex;
    flex-direction: column;
    padding: 42px 125px 0px 125px;
}

main p {
    font-size: 16px;
    font-weight: 300;
}

main p span {
    font-weight: 700;
}

.programacao {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.programacao h1 {
    font-size: 22px;
    font-weight: 400;
}

.evento .data {
    margin-bottom: 30px;
}

.mentor {
    gap: 31px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.mentor-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

.mentor-info h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}


/*------------- Localização ------------- */
.localizacao h1 {
    font-size: 22px;
    font-weight: 400;
    margin: 106px 0px 25px 125px;
}

.localizacao .img {
    width: 100%;
    height: 560px;
}

/*-------------- FOOTER ---------------*/
footer {
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #2D3748CC;
}

footer .realizacao {
    margin-left: 125px;
}

.realizacao h1 {
    color: white;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 40px;
}

.realizacao img {
    margin-right: 60px;
}