* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/*-------- Header ---------*/
.cabecalho {
    position: fixed;
    z-index: 1;
    opacity: 0.8;
    font-weight: 400;
    background-color: gray;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 3rem;
    width: 100vw;
    gap: 4rem;
    background-color: #E5E5E5B2;
}

.cabecalho a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.cabecalho a span{
    border-radius: 5px;
    background-color: #E74C3C;
    padding: 5px 29px;
    color: white;
}


/*---------------- HEADER ----------------*/
header {
    position: relative;
    width: 100%;
    height: 571px;
    overflow: hidden;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.sobre {
    position: absolute;
    top: 12rem;
    width: 100%;
    background-color: #FFD200B2;
    z-index: 1;
}


/*----------------- MAIN - Programação -----------------*/
main {
    left: 125px;
}

main p {
    font-size: 16px;
    font-weight: 300;
}

main p span {
    font-weight: 700;
}
