* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(20, 53, 146);
  padding: 5px 30px;
}


/*------------------------ Mobile first -----------------------*/
.sidebar {
  gap: 2rem;
  display: flex;
  list-style-type: none;
}

.sidebar > li a {
  color: white;
  text-decoration: none;
}

.sidebar > li {
  padding: 10px 20px;
  transition: all .2s;
}

.sidebar > li:hover {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(38, 68, 151);
}


/*--------------------- Responsivo ------------------------*/
@media (max-width: 768px) {
  .sidebar {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
  }

  .sidebar.show {
    gap: 0;
    display: flex;
    flex-direction: column;
    transition: all .5s ease-in-out;
  }

  .sidebar>li {
    padding: 20px;
    transition: all .2s;
  }

  .sidebar>li:hover {
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(38, 68, 151);
  }

  .hamburg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 100%;
    transition: .1s ease-in-out;
  }

  .hamburg:hover {
    background-color: rgb(50, 81, 167);
    padding: 15px;
    border-radius: 100%;
  }

  .menu {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    transition: .3s ease-in-out;
  }

  .menu.first {
    top: 26%;
  }

  .menu.second {
    top: 46%;
  }

  .menu.third {
    top: 66%;
  }

  .hamburg.show .menu.first {
    top: 46%;
    width: 26px;
    transform: rotate(45deg);
  }

  .hamburg.show .menu.second {
    display: none;
  }

  .hamburg.show .third {
    top: 46%;
    width: 26px;
    transform: rotate(-45deg);
  }
}